
    <div class="info-bar">
        <div class="info-container">
            <div class="info-item">
                <i class="fas fa-calendar-alt"></i>
                <span id="current-date">29 МАРТА 2024</span>
            </div>
            <div class="info-item">
                <i class="fas fa-clock pulse"></i>
                <span id="current-time">14:30:45</span>
            </div>
        </div>
        <div class="info-container">
            <div class="info-item">
                <i class="fas fa-network-wired"></i>
                <span id="ip-address">Загрузка IP...</span>
            </div>
            <div class="language-switcher">
                <button class="language-btn">
                    <i class="fas fa-globe"></i>
                    <span id="current-language">RU</span>
                </button>
                <div class="language-dropdown">
                    <div class="language-option" data-lang="ru">Русский</div>
                    <div class="language-option" data-lang="kz">Қазақша</div>
                    <div class="language-option" data-lang="en">English</div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-container">
            <a href="/" class="logo">
                <img src="/static/images/header/LOGO_NEW.png" alt="POLYTECH">
                <div class="logo-text">
                    <div class="logo-title">POLYTECH</div>
                    <div class="logo-subtitle">CYBERPUNKDITION</div>
                </div>
            </a>

            <nav class="desktop-menu">
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-school"></i>
                        <span>КОЛЛЕДЖ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Управление</a>
                            <div class="sub-dropdown-menu">
                                <a href="about.html" class="sub-dropdown-link">О нас</a>
                                <a href="mission.html" class="sub-dropdown-link">Организационная структура управления</a>
                                <a href="about.html" class="sub-dropdown-link">Адмистрация</a>
                                <a href="mission.html" class="sub-dropdown-link">Отделении</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Документы</a>
                            <div class="sub-dropdown-menu">
                                <a href="director.html" class="sub-dropdown-link">Лицензии</a>
                                <a href="staff.html" class="sub-dropdown-link">Отчет о доходах и расходах</a>
                                <a href="director.html" class="sub-dropdown-link">Устав колледжа</a>
                                <a href="staff.html" class="sub-dropdown-link">Международная аккредитация</a>
                                <a href="director.html" class="sub-dropdown-link">Положение</a>
                                <a href="staff.html" class="sub-dropdown-link">Правила внутреннего распорядка</a>
                                <a href="director.html" class="sub-dropdown-link">Госсударственная аттестация</a>
                                <a href="staff.html" class="sub-dropdown-link">Онлайн каталог НПА</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">ПЛАНИРОВАНИЕ</a>
                            <div class="sub-dropdown-menu">
                                <a href="rules.html" class="sub-dropdown-link">Стратегический план</a>
                                <a href="reports.html" class="sub-dropdown-link">План работы внутриколледжного контроля</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Направления деятельности колледжа</a>
                            <div class="sub-dropdown-menu">
                                <a href="founders.html" class="sub-dropdown-link">Учебная работа</a>
                                <a href="achievements.html" class="sub-dropdown-link">Воспитательная работа</a>
                                <a href="founders.html" class="sub-dropdown-link">Учебно-методическая работа</a>
                                <a href="achievements.html" class="sub-dropdown-link">УЧебно-произведственная работа/a>
                                <a href="founders.html" class="sub-dropdown-link">Учебно-методическое объединение</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-school"></i>
                        <span>АБИТУРИЕНТАМ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Поступление</a>
                            <div class="sub-dropdown-menu">
                                <a href="admission.html" class="sub-dropdown-link">Правила приема</a>
                                <a href="documents.html" class="sub-dropdown-link">Необходимые документы</a>
                                <a href="scholarships.html" class="sub-dropdown-link">Стипендии</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-user-graduate"></i>
                        <span>СТУДЕНТАМ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Образование</a>
                            <div class="sub-dropdown-menu">
                                <a href="schedule.html" class="sub-dropdown-link">Расписание</a>
                                <a href="resources.html" class="sub-dropdown-link">Учебные материалы</a>
                                <a href="events.html" class="sub-dropdown-link">Мероприятия</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span>ПРЕПОДАВАТЕЛЯМ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Ресурсы</a>
                            <div class="sub-dropdown-menu">
                                <a href="methodology.html" class="sub-dropdown-link">Методические материалы</a>
                                <a href="training.html" class="sub-dropdown-link">Повышение квалификации</a>
                                <a href="community.html" class="sub-dropdown-link">Сообщество</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-university"></i>
                        <span>ГОСУДАРСТВО</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Документы</a>
                            <div class="sub-dropdown-menu">
                                <a href="laws.html" class="sub-dropdown-link">Законодательство</a>
                                <a href="reports.html" class="sub-dropdown-link">Отчеты</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-briefcase"></i>
                        <span>ВАКАНСИИ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Карьера</a>
                            <div class="sub-dropdown-menu">
                                <a href="jobs.html" class="sub-dropdown-link">Открытые вакансии</a>
                                <a href="internships.html" class="sub-dropdown-link">Стажировки</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-globe"></i>
                        <span>ЭКОСИСТЕМА</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Инициативы</a>
                            <div class="sub-dropdown-menu">
                                <a href="projects.html" class="sub-dropdown-link">Проекты</a>
                                <a href="partners.html" class="sub-dropdown-link">Партнеры</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-envelope"></i>
                        <span>КОНТАКТЫ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link">Связаться с нами</a>
                            <div class="sub-dropdown-menu">
                                <a href="contact.html" class="sub-dropdown-link">Обратная связь</a>
                                <a href="map.html" class="sub-dropdown-link">Как нас найти</a>
                            </div>
                        </div>
                    </div>
                </div>
                

               
            </nav>

            <button class="mobile-menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>

