<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Студенттердің ішкі тәртіп ережелері</title>
    <style>
        body {
            background-color: black;
            color: white;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 20px;
        }
        iframe {
            width: 80%;
            height: 90vh;
            border: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Сыбайлас жемқорлыққа қарсы комиссия</h1>
        <iframe src="https://docs.google.com/document/d/1y6Vu6-ekbTgPgocXDG5vrjRZ9RnLCRwg7TbRU2rZk-s/edit?usp=sharing"></iframe>
    </div>
</body>
</html>
