<header>
    <link rel="stylesheet" href="/static/style.css">
    <nav>
        <div class="logo">
            <img src="/static/images/header/LOGO_NEW.png" alt="Polytech Logo">
        </div>
        <ul>
            <li><a href="#" data-translate="college">Колледж</a></li>
            <li><a href="#" data-translate="applicants">Талапкерлерге</a></li>
            <li><a href="#" data-translate="students">Студенттерге</a></li>
            <li><a href="#" data-translate="state">Мемлекет</a></li>
            <li><a href="#" data-translate="teachers">Оқытушыларға</a></li>
            <li><a href="#" data-translate="news">Жаңалықтар</a></li>
            <li><a href="#" data-translate="jobs">Бос жұмыс орны</a></li>
            <li><a href="#" data-translate="eco">Экожүйе</a></li>
            <li><a href="#" data-translate="contacts">Байланыс</a></li>
        </ul>
        <div class="language-switcher">
            <select id="language-select">
                <option value="ru">RU</option>
                <option value="kz">KZ</option>
                <option value="en">ENG</option>
            </select>
        </div>
        <div class="menu-toggle">☰</div>
    </nav>
</header>