<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-translate="college">Polytech College</title>


    <link rel="icon" href="/static/images/header/icon_site_logo.svg" type="image/x-icon">


    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/online_assistant.css">
    <link rel="stylesheet" href="/static/tour_frame_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <!-- Подключение библиотеки particles.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="/static/header/styles.css">

</head>

<body>
    <div id="particle-background"></div>

    <div class="info-bar">
        <div class="info-container">
            <div class="info-item">
                <i class="fas fa-calendar-alt"></i>
                <span id="current-date">29 МАРТА 2024</span>
            </div>
            <div class="info-item">
                <i class="fas fa-clock pulse"></i>
                <span id="current-time">14:30:45</span>
            </div>
        </div>
        <div class="info-container">
            <div class="info-item">
                <i class="fas fa-network-wired"></i> <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
                <span id="ip-address">Загрузка IP...</span>
            </div>
 <div class="language-switcher">
                <select id="language-select">
                    <option value="ru">RU</option>
                    <option value="kz">KZ</option>
                    <option value="en">ENG</option>
                </select>

            </div>
        </div>
    </div>

    <header>
        <div class="header-container">
            <div class="logo">
                <a href="" target="_self">
                    <img src="/static/images/header/LOGO_NEW.png" alt="POLYTECH">
                </a>
                <button 
                onclick="window.open('https://edu.aspc.kz/?ysclid=lscxoszymx908089861', '_blank')"
                style="
                  background: none;
                  border: none;
                  padding: 0;
                  cursor: pointer;
                "
              >
                <img src="/static/images/header/moodle123-01.svg" alt="Moodle">
              </button>
            </div>

            <nav class="desktop-menu">
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-school"></i>
                        <span data-translate="menu_college">КОЛЛЕДЖ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="management">Управление</a>
                            <div class="sub-dropdown-menu">
                                <a href="/views/college/uprav/page1.html" class="sub-dropdown-link" data-translate="about_us">О нас</a>
                                <a href="/views/college/uprav/page2.html" class="sub-dropdown-link" data-translate="structure">Организационная структура управления</a>
                                <a href="/views/college/uprav/page3.html" class="sub-dropdown-link" data-translate="administration">Администрация</a>
                                <a href="/views/college/uprav/page4.html" class="sub-dropdown-link" data-translate="departments">Отделения</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="documents">Документы</a>
                            <div class="sub-dropdown-menu">
                                <a href="/" class="sub-dropdown-link" data-translate="licenses">Лицензии</a>
                                <a href="/views/college/doc/page1.html" class="sub-dropdown-link" data-translate="report">Отчет о доходах и расходах</a>
                                <a href="director.html" class="sub-dropdown-link" data-translate="charter">Устав колледжа</a>
                                <a href="staff.html" class="sub-dropdown-link" data-translate="accreditation">Международная аккредитация</a>
                                <a href="director.html" class="sub-dropdown-link" data-translate="regulations">Положение</a>
                                <a href="staff.html" class="sub-dropdown-link" data-translate="rules">Правила внутреннего распорядка</a>
                                <a href="director.html" class="sub-dropdown-link" data-translate="certification">Государственная аттестация</a>
                                <a href="staff.html" class="sub-dropdown-link" data-translate="catalog">Онлайн каталог НПА</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="planning">ПЛАНИРОВАНИЕ</a>
                            <div class="sub-dropdown-menu">
                                <a href="/views/college/plan/page2.html" class="sub-dropdown-link" data-translate="strategy">Стратегический план</a>
                                <a href="/views/college/plan/page1.html" class="sub-dropdown-link" data-translate="monitoring">План работы внутриколледжного контроля</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="activities">Направления деятельности колледжа</a>
                            <div class="sub-dropdown-menu">
                                <a href="founders.html" class="sub-dropdown-link" data-translate="education">Учебная работа</a>
                                <a href="/views/college/naprav/page1.html" class="sub-dropdown-link" data-translate="upbringing">Воспитательная работа</a>
                                <a href="/views/college/naprav/page3.html" class="sub-dropdown-link" data-translate="methodical">Учебно-методическая работа</a>
                                <a href="/views/college/naprav/page4.html" class="sub-dropdown-link" data-translate="production">Учебно-производственная работа</a>
                                <a href="/views/college/naprav/page5.html" class="sub-dropdown-link" data-translate="union">Учебно-методическое объединение</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-school"></i>
                        <span data-translate="menu_admissions">АБИТУРИЕНТАМ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="results">Итоги</a>
                            <div class="sub-dropdown-menu">
                                <a href="" class="sub-dropdown-link" data-translate="first">первое</a>
                                <a href="" class="sub-dropdown-link" data-translate="second">второе</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="admissions">Кабылдау</a>
                            <div class="sub-dropdown-menu">
                                <a href="/views/abit/kabyldau/page1.html" class="sub-dropdown-link" data-translate="admission_rules">Правила приема</a>
                                <a href="/views/abit/kabyldau/page2.html" class="sub-dropdown-link" data-translate="admission_plan">План приема</a>
                                <a href="/views/abit/kabyldau/page3.html" class="sub-dropdown-link" data-translate="document_list">Перечень документов</a>
                                <a href="/views/abit/kabyldau/page4.html" class="sub-dropdown-link" data-translate="free_education">Бесплатное обучение</a>
                                <a href="/views/abit/kabyldau/page5.html" class="sub-dropdown-link" data-translate="online_applications">Онлайн подача заявок</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="specialties">Выбор спецальности</a>
                            <div class="sub-dropdown-menu">
                                <a href="/views/abit/maman tandau/page1.html" class="sub-dropdown-link" data-translate="career_diagnostics">Профессиональная диагностика</a>
                                <a href="/views/abit/maman tandau/page2.html" class="sub-dropdown-link" data-translate="programming_profession">Профессия программиста</a>
                                <a href="https://atlasbt.enbek.kz/" class="sub-dropdown-link" data-translate="new_professions">Атлас новых профессий</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="/views/abit/mamandyk/page1.html" class="dropdown-link" data-translate="specialties_video">спецальности</a>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-user-graduate"></i>
                        <span data-translate="menu_students">СТУДЕНТАМ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="/views/stud/obshaga/page1.html" class="dropdown-link" data-translate="student_house">Дом студентов</a>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="education">Обучение</a>
                            <div class="sub-dropdown-menu">
                                <a href="/views/stud/" class="sub-dropdown-link" data-translate="internal_rules">Правила внутреннего распорядка</a>
                                <a href="/views/college/plan/page1.html" class="sub-dropdown-link" data-translate="students_by_specialty">Контингент по специальностям</a>
                                <a href="/views/college/plan/page2.html" class="sub-dropdown-link" data-translate="study_schedule">График учебного процесса</a>
                                <a href="/views/college/plan/page1.html" class="sub-dropdown-link" data-translate="midterm_schedule">График промежуточной аттестации</a>
                                <a href="/views/college/plan/page2.html" class="sub-dropdown-link" data-translate="final_exam_schedule">График итоговой аттестации</a>
                                <a href="/views/college/plan/page1.html" class="sub-dropdown-link" data-translate="vacant_places_info">Информация по наличию вакантных мест</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="psychological_service">Психологическая служба колледжа</a>
                            <div class="sub-dropdown-menu">
                                <a href="founders.html" class="sub-dropdown-link" data-translate="educational_work">Учебная работа</a>
                                <a href="/views/college/naprav/page1.html" class="sub-dropdown-link" data-translate="psychologist">Психолог</a>
                                <a href="/views/college/naprav/page3.html" class="sub-dropdown-link" data-translate="student_recommendations">Рекомендации для студентов</a>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="ССЫЛКА ТУТ ДОЛЖНА БЫТЬ" class="dropdown-link" data-translate="rules">Правила</a>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span data-translate="menu_teachers">ПРЕПОДАВАТЕЛЯМ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="#" class="dropdown-link" data-translate="resources">Ресурсы</a>
                            <div class="sub-dropdown-menu">
                                <a href="/views/prepod/page1.html" class="sub-dropdown-link" data-translate="methodology">Методические рекомендации</a>
                                <a href="/views/prepod/page2.html" class="sub-dropdown-link" data-translate="forms_of_upd">Формы УПД</a>
                                <a href="/views/prepod/page3.html" class="sub-dropdown-link" data-translate="educational_programs">Образовательные программы</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-university"></i>
                        <span data-translate="menu_government">ГОСУДАРСТВО</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="/views/memleket/page1.html" class="dropdown-link" data-translate="state_symbols">Государственные символы</a>
                            <a href="/views/memleket/page3.html" class="dropdown-link" data-translate="citizen_reception_schedule">График приема граждан</a>
                            <a href="https://www.akorda.kz/ru/official_documents/constitution" class="dropdown-link" data-translate="constitution">Конституция</a>
                            <a href="https://open-almaty.kz/" class="dropdown-link" data-translate="open_almaty">Open Almaty</a>
                        </div>
                    </div>
                </div>
       
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-briefcase"></i>
                        <span data-translate="menu_vacancies">ВАКАНСИИ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="/views/vaka/page1.html" class="dropdown-link" data-translate="apply">Подать заявку</a>
                        </div>
                    </div>
                </div>
                
                <div class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="fas fa-envelope"></i>
                        <span data-translate="menu_contacts">КОНТАКТЫ</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a href="/views/contact/page1.html" class="dropdown-link" data-translate="contact_us">Связаться с нами</a>
                        </div>
                    </div>
                </div>
                
            </nav>

            <button class="mobile-menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>

    <div class="overlay"></div>
    <nav class="mobile-menu">
        <div class="menu-item">
            <a href="#" class="menu-link">
                <i class="fas fa-school"></i>
                <span>КОЛЛЕДЖ</span>
                <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a href="/views/college/uprav/page1.html" class="sub-dropdown-link" data-translate="about_us">О нас</a>
                    <a href="/views/college/uprav/page2.html" class="sub-dropdown-link" data-translate="structure">Организационная структура управления</a>
                    <a href="/views/college/uprav/page3.html" class="sub-dropdown-link" data-translate="administration">Администрация</a>
                    <a href="/views/college/uprav/page4.html" class="sub-dropdown-link" data-translate="departments">Отделения</a>
                </div>
                <div class="dropdown-item">
                    <a href="director.html" class="dropdown-link">Лицензии</a>
                    <a href="/views/college/doc/page1.html" class="dropdown-link">Отчет о доходах и расходах</a>
                    <a href="director.html" class="dropdown-link">Устав колледжа</a>
                    <a href="staff.html" class="dropdown-link">Международная аккредитация</a>
                    <a href="director.html" class="dropdown-link">Положение</a>
                    <a href="staff.html" class="dropdown-link">Правила внутреннего распорядка</a>
                    <a href="director.html" class="dropdown-link">Госсударственная аттестация</a>
                    <a href="staff.html" class="dropdown-link">Онлайн каталог НПА</a>
                </div>
                <div class="dropdown-item">
                    <a href="/views/college/plan/page2.html" class="sub-dropdown-link" data-translate="strategy">Стратегический план</a>
                    <a href="/views/college/plan/page1.html" class="sub-dropdown-link" data-translate="monitoring">План работы внутриколледжного контроля</a>
                </div>
                <div class="dropdown-item">
                    <a href="founders.html" class="dropdown-link">Учебная работа</a>
                    <a href="/views/college/naprav/page1.html" class="dropdown-link">Воспитательная работа</a>
                    <a href="/views/college/naprav/page3.html" class="dropdown-link">Учебно-методическая работа</a>
                    <a href="/views/college/naprav/page4.html" class="dropdown-link">Учебно-произведственная работа</a>
                    <a href="/views/college/naprav/page5.html" class="dropdown-link">Учебно-методическое объединение</a>
                </div>
            </div>
        </div>
    
        <div class="menu-item">
            <a href="#" class="menu-link">
                <i class="fas fa-user-graduate"></i>
                <span>АБИТУРИЕНТАМ</span>
                <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a href="/views/college/uprav/page1.html" class="dropdown-link">Итоги: </a>
                    <a href="/views/college/uprav/page2.html" class="dropdown-link">Итоги: </a>
                </div>
                <div class="dropdown-item">
                    <a href="/views/abit/kabyldau/page1.html" class="sub-dropdown-link" data-translate="admission_rules">Правила приема</a>
                    <a href="/views/abit/kabyldau/page2.html" class="sub-dropdown-link" data-translate="admission_plan">План приема</a>
                    <a href="/views/abit/kabyldau/page3.html" class="sub-dropdown-link" data-translate="document_list">Перечень документов</a>
                    <a href="/views/abit/kabyldau/page4.html" class="sub-dropdown-link" data-translate="free_education">Бесплатное обучение</a>
                    <a href="/views/abit/kabyldau/page5.html" class="sub-dropdown-link" data-translate="online_applications">Онлайн подача заявок</a>
                </div>
                <div class="dropdown-item">
                    <a href="/views/abit/maman tandau/page1.html" class="sub-dropdown-link" data-translate="career_diagnostics">Профессиональная диагностика</a>
                    <a href="/views/abit/maman tandau/page2.html" class="sub-dropdown-link" data-translate="programming_profession">Профессия программиста</a>
                    <a href="https://atlasbt.enbek.kz/" class="sub-dropdown-link" data-translate="new_professions">Атлас новых профессий</a>
                </div>
                <div class="dropdown-item">
                    <a href="/views/abit/mamandyk/page1.html" class="dropdown-link" data-translate="specialties_video">спецальности</a>
                </div>
            </div>
        </div>
    
        <div class="menu-item">
            <a href="#" class="menu-link">
                <i class="fas fa-book-open"></i>
                <span>СТУДЕНТАМ</span>
                <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a href="/views/stud/obshaga/page1.html" class="dropdown-link" data-translate="student_house">Дом студентов</a>
                </div>
                <div class="dropdown-item">
                    <a href="/views/college/plan/page2.html" class="dropdown-link">Правила внутреннего распорядка</a>
                    <a href="/views/college/plan/page1.html" class="dropdown-link">Контингент по специальностям</a>
                    <a href="/views/college/plan/page2.html" class="dropdown-link">График учебного процесса</a>
                    <a href="/views/college/plan/page1.html" class="dropdown-link">График промежуточной аттестации</a>
                    <a href="/views/college/plan/page2.html" class="dropdown-link">График итоговой аттестации</a>
                    <a href="/views/college/plan/page1.html" class="dropdown-link">Вакантные места</a>
                </div>
                <div class="dropdown-item">
                    <a href="founders.html" class="dropdown-link">Учебная работа</a>
                    <a href="/views/college/naprav/page1.html" class="dropdown-link">Психолог</a>
                    <a href="/views/college/naprav/page3.html" class="dropdown-link">Рекомендации</a>
                </div>
                <div class="dropdown-item">
                    <a href="ССЫЛКА ТУТ ДОЛЖНА БЫТЬ" class="dropdown-link">Правила</a>
                </div>
            </div>
        </div>
    
        <div class="menu-item">
            <a href="#" class="menu-link">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>ПРЕПОДАВАТЕЛЯМ</span>
                <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a href="/views/prepod/page1.html" class="sub-dropdown-link" data-translate="methodology">Методические рекомендации</a>
                    <a href="/views/prepod/page2.html" class="sub-dropdown-link" data-translate="forms_of_upd">Формы УПД</a>
                    <a href="/views/prepod/page3.html" class="sub-dropdown-link" data-translate="educational_programs">Образовательные программы</a>
                </div>
            </div>
        </div>
    
        <div class="menu-item">
            <a href="#" class="menu-link">
                <i class="fas fa-university"></i>
                <span>ГОСУДАРСТВО</span>
                <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a href="/views/memleket/page1.html" class="dropdown-link" data-translate="state_symbols">Государственные символы</a>
                    <a href="/views/memleket/page3.html" class="dropdown-link" data-translate="citizen_reception_schedule">График приема граждан</a>
                    <a href="https://www.akorda.kz/ru/official_documents/constitution" class="dropdown-link" data-translate="constitution">Конституция</a>
                    <a href="https://open-almaty.kz/" class="dropdown-link" data-translate="open_almaty">Open Almaty</a>
                </div>
            </div>
        </div>
    
        <div class="menu-item">
            <a href="#" class="menu-link">
                <i class="fas fa-briefcase"></i>
                <span>ВАКАНСИИ</span>
                <i class="fas fa-chevron-down dropdown-arrow"></i>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a href="/views/vaka/page1.html" class="dropdown-link">Подать заявку</a>
                </div>
            </div>
        </div>
    
        <div class="menu-item">
            <a href="/views/contact/page1.html" class="menu-link">
                <i class="fas fa-envelope"></i>
                <span>КОНТАКТЫ</span>
            </a>
        </div>
    </nav>
    


    

        <section class="hero">
            
            <div class="hero-text">

                </div>
                <h1 data-translate="welcome">ALMATY POLYTECHNIC COLLEGE ҚОШ КЕЛДІҢІЗ!</h1>
                <p data-translate="slogan">ӨЗ ЖЕТІСТІГІҢІЗДІ БАҒДАРЛАМАЛАҢЫЗ-ПОЛИТЕХҚА ТҮСІҢІЗ!</p>
                <div class="buttons">
                    <button id="scrollToWhyUs" data-translate="why_us">Неге біз?</button>
                    <button id="openModal" data-translate="take_tour">Виртуалды тур</button>
                    <button id="applyNow" data-translate="apply_now">Түсім келеді</button>


                    <div class="chat-icon" onclick="toggleChat()">💬</div>

                    <div id="chatBox" class="chat-box">
                        <div class="chat-header" data-translate="assistant">Ассистент</div>
                        <div id="chatContent" class="chat-content"></div>
                        <div id="chatQuestions" class="chat-questions"></div>
                    </div>
                </div>
            </div>

            <div id="modal" class="modal-overlay">
                <div class="modal-content">
                    <button id="closeModal" class="close-btn">×</button>
                    <iframe src="https://pano3d.kz/PolyTech/" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>




  <!-- Секция с мамандықтар -->
  <section class="majors">
    <h2 data-translate="our_majors">Біздің мамандықтар</h2>
    <div class="majors-container">
        <div class="majors-list">
            <div class="major-card">
                <img src="/static/images/job/spec_3.png" alt="Major 1">
                <p>06130100</p>
                <p data-translate="major_0715100">АҚПАРАТТЫҚ ҚАУІПСІЗДІК ЖҮЙЕЛЕРІ</p>
                <button class="specialty-btn" data-specialty="cybersecurity" data-translate="more">Көбірек</button>
            </div>
            <div class="major-card">
                <img src="/static/images/job/spec_2.png" alt="Major 2">
                <p>06120200</p>
                <p data-translate="major_0612100">ЕСЕПТЕУ ТЕХНИКАСЫ ЖӘНЕ АҚПАРАТТЫҚ ЖЕЛІЛЕР</p>
                <button class="specialty-btn" data-specialty="computing" data-translate="more">Көбірек</button>
            </div>
            <div class="major-card">
                <img src="/static/images/job/spec_1.png" alt="Major 3">
                <p>06130100</p>
                <p data-translate="major_0353100">БАҒДАРЛАМАЛЫҚ ҚАМТАМАСЫЗ ЕТУ</p>
                <button class="specialty-btn" data-specialty="software" data-translate="more">Көбірек</button>
            </div>
            <div class="major-card">
                <img src="/static/images/job/spec_4.png" alt="Major 4">
                <p>07140900</p>
                <p data-translate="major_05315100">РАДИОТЕХНИКА, ЭЛЕКТРОНИКА ЖӘНЕ ТЕЛЕКОММУНИКАЦИЯЛАР</p>
                <button class="specialty-btn" data-specialty="radio" data-translate="more">Көбірек</button>
            </div>
            <div class="major-card">
                <img src="/static/images/job/spec_5.png" alt="Major 5">
                <p>07151100</p>
                <p data-translate="major_0345300">Машиналар мен жабдықтарды пайдалану және техникалық қызмет көрсету</p>
                <button class="specialty-btn" data-specialty="machinery" data-translate="more">Көбірек</button>
            </div>
        </div>
    </div>
</section>

<!-- Модальное окно -->
<div class="specialtyPopup" id="specialtyPopup">
    <div class="specialtyPopup-content">
        <span class="specialtyPopup-close">×</span>
        <div class="specialtyPopup-header">
            <h2 id="specialtyTitle"></h2>
            <p class="specialtyPopup-subtitle" id="specialtySubtitle"></p>
        </div>
        <div class="specialtyPopup-body" id="specialtyDescription"></div>
        <div class="specialtyPopup-details" id="specialtyDetails"></div>
    </div>
</div>



        </section>

        <section class="why-us">
            <h2 data-translate="why_us">Неге біз?</h2>
            <div class="cards-container">
                <div class="card">
                    <img src="/static/images/why us/13.png" alt="Идея">
                    <h3 data-translate="non_standard_approach">Стандартты емес тәсіл</h3>
                    <p data-translate="non_standard_approach_desc">Сабақтарды өткізудің жоғары сапасын қамтамасыз ету үшін жаңа форматтар мен құралдарды қолданамыз.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/14.png" alt="Человек">
                    <h3 data-translate="personal_approach">Жеке көзқарас</h3>
                    <p data-translate="personal_approach_desc">Біз әркімге өзінің табыс траекториясын құруға көмектесеміз. Біз әрқашан ашық және сенімді қарым-қатынаста боламыз.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/18.png" alt="Сұраныс">
                    <h3 data-translate="demand">Сұраныс</h3>
                    <p data-translate="demand_desc">Әр бағдарлама жыл сайын түлектердің күтілетін жұмыс берушілердің қажеттіліктеріне қанағаттандыру үшін жаңартылып отырады.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/2.png" alt="Технология">
                    <h3 data-translate="modern_tech">Қазіргі заманғы технологиялар</h3>
                    <p data-translate="modern_tech_desc">Оқыту барысында жаңа IT технологияларды пайдаланамыз.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/5.png" alt="Қолдау">
                    <h3 data-translate="one_team">Бір команда</h3>
                    <p data-translate="one_team_desc">Біздің студенттерге тәлімгерлер мен оқытушылар әрқашан көмек көрсетуге дайын.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/7.png" alt="Жаһандық">
                    <h3 data-translate="global_perspectives">Жаһандық перспективалар</h3>
                    <p data-translate="global_perspectives_desc">Біздің түлектер әлемдік нарықта сұранысқа ие мамандар.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/15.png" alt="Мансап">
                    <h3 data-translate="career_opportunities">Мансап мүмкіндіктері</h3>
                    <p data-translate="career_opportunities_desc">Түлектеріміз ең үздік компанияларда жұмыс таба алады.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/6.png" alt="Тәжірибе">
                    <h3 data-translate="practical_knowledge">Тәжірибелік білім</h3>
                    <p data-translate="practical_knowledge_desc">Көптеген практикалық жобалар арқылы білімді жетілдіреміз.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/3.png" alt="Желі">
                    <h3 data-translate="professional_connections">Кәсіби байланыстар</h3>
                    <p data-translate="professional_connections_desc">Біз студенттерімізге ірі компаниялармен байланыс орнатуға көмектесеміз.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/12.png" alt="Команда">
                    <h3 data-translate="teamwork">Командалық жұмыс</h3>
                    <p data-translate="teamwork_desc">Біз студенттерімізді командалық жұмысты үйретеміз.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/1.png" alt="Инновация">
                    <h3 data-translate="innovative_methods">Инновациялық әдістер</h3>
                    <p data-translate="innovative_methods_desc">Білім беру үдерісі үздіксіз жаңартылып отырады.</p>
                </div>
                <div class="card">
                    <img src="/static/images/why us/16.png" alt="Болашақ">
                    <h3 data-translate="future_preparation">Болашаққа дайындық</h3>
                    <p data-translate="future_preparation_desc">Біздің бағдарлама түлектерді болашаққа дайындайды.</p>
                </div>
            </div>
            <div class="slider-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </section>


        <section class="college-tour">
            <div class="text-content">
                <h2 data-translate="welcome_to_college">Добро пожаловать в наш колледж!</h2>
                <p data-translate="tour_invitation">Мы рады каждому новому гостю! Записывайся на экскурсию и познакомься с нашими возможностями.</p>
                <a href="https://wa.me/77071710800?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%20%D0%A5%D0%BE%D1%82%D0%B5%D0%BB(%D0%B0)%20%D0%B1%D1%8B%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8E%20%D0%BE%20%D0%BF%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8...", "_blank"" class="tour-button" data-translate="book_tour">Записаться на экскурсию</a>
            </div>
            <div class="video-content">
                <video autoplay muted loop playsinline>
                <source src="/static/videos/output.mp4" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>

            </div>
        </section>
        <section id="news-title">
            <h2>IT инновациялар жаңалықтары</h2>
          </section>
          <div id="news-gallery"></div>
          
                  <style>
          #news-title {
            padding: 2rem 1rem;
            text-align: center;
            background: linear-gradient(to right, #0077ff, #00bbff);
            color: white;
            max-width: 1000px;
            margin: 0 auto 2rem;
            border-radius: 12px;
            font-size: 1.5rem;
          }
          
          /* Галерея новостей */
          #news-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 1.5rem;
            padding: 1rem;
            max-width: 1000px;
            margin: 0 auto;
          }
          
          /* Карточка новости */
          .news-item {
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.07);
            padding: 1rem;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          
          .news-item:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
          }
          
          /* Заголовок новости */
          .news-item h3 {
            margin-top: 0;
            font-size: 1.1rem;
            color: #0077cc;
            min-height: 3em;
          }
          
          /* Контент */
          .news-item p {
            font-size: 0.95rem;
            line-height: 1.4;
            flex-grow: 1;
            margin: 0.5rem 0 0;
          }
          
          /* Дата */
          .news-item small {
            color: #666;
            font-size: 0.8rem;
            margin-top: 0.5rem;
            display: block;
          }
          
          /* Фото */
          .news-image {
            width: 100%;
            height: 160px;
            object-fit: cover;
            border-radius: 8px;
            margin: 0.8rem 0;
          }
          
          /* Тёмная тема */
          @media (prefers-color-scheme: dark) {
            body {
              background-color: #111;
              color: #eee;
            }
          
            .news-item {
              background-color: #1e1e1e;
              box-shadow: 0 4px 12px rgba(255, 255, 255, 0.04);
            }
          
            .news-item h3 {
              color: #3ea6ff;
            }
          
            .news-item small {
              color: #aaa;
            }
          }
                  </style>
          
          
          <script>
            const container = document.getElementById('news-gallery');
          
            fetch('https://almatypolytech.edu.kz/api/items/news?fields=title,content,date_created,image.id')
              .then(res => res.json())
              .then(data => {
                const newsItems = data.data;
          
                newsItems.forEach(item => {
                  const { title, content, date_created, image } = item;
          
                  const wrapper = document.createElement('div');
                  wrapper.className = 'news-item';
          
                  const titleEl = document.createElement('h3');
                  titleEl.textContent = title;
          
                  const dateEl = document.createElement('small');
                  const date = new Date(date_created);
                  dateEl.textContent = `Жарияланған күні: ${date.toLocaleDateString('kk-KZ', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                  })}`;
          
                  const img = document.createElement('img');
                  img.alt = title;
                  img.className = 'news-image';
          
                  // Проверка: если есть image.id
                  if (image && image.id) {
                    img.src = `https://almatypolytech.edu.kz/api/assets/${image.id}?key=system-large-contain`;
                  } else {
                    img.src = 'https://via.placeholder.com/400x160?text=ФОТО+ЖОҚ'; // Заглушка
                  }
          
                  img.loading = 'lazy';
          
                  img.onerror = () => {
                    img.src = 'https://via.placeholder.com/400x160?text=ФОТО+ЖОҚ';
                  };
          
                  const contentEl = document.createElement('p');
                  contentEl.textContent = content;
          
                  wrapper.appendChild(titleEl);
                  wrapper.appendChild(dateEl);
                  wrapper.appendChild(img);
                  wrapper.appendChild(contentEl);
          
                  container.appendChild(wrapper);
                });
              })
              .catch(error => {
                console.error('Қате:', error);
              });
          </script>
              
          
          
          
          



        
        



        <section class="partners">
            <div class="partners-content">
                <h2 data-translate="partner_universities">Вузы-партнёры</h2>
                <p data-translate="partner_program">Учись дальше на специальных условиях! По партнёрской программе «После колледжа — в вуз» ты можешь сократить срок обучения или поступить на льготных условиях.</p>
            </div>
            <div class="partners-slider">
                <div class="partners-track top">
                    <div class="partner-card"><img src="/static/images/partners/1.png" alt="Partner 1"></div>
                    <div class="partner-card"><img src="/static/images/partners/2.png" alt="Partner 2"></div>
                    <div class="partner-card"><img src="/static/images/partners/3.png" alt="Partner 3"></div>
                    <div class="partner-card"><img src="/static/images/partners/4.png" alt="Partner 4"></div>
                    <div class="partner-card"><img src="/static/images/partners/5.png" alt="Partner 5"></div>
                    <div class="partner-card"><img src="/static/images/partners/6.png" alt="Partner 6"></div>
                    <div class="partner-card"><img src="/static/images/partners/7.png" alt="Partner 7"></div>
                    <div class="partner-card"><img src="/static/images/partners/8.png" alt="Partner 8"></div>
                    <div class="partner-card"><img src="/static/images/partners/9.png" alt="Partner 9"></div>
                    <div class="partner-card"><img src="/static/images/partners/10.png" alt="Partner 10"></div>
                    <div class="partner-card"><img src="/static/images/partners/11.png" alt="Partner 11"></div>
                    <div class="partner-card"><img src="/static/images/partners/12.png" alt="Partner 12"></div>
                    <!-- <div class="partner-card"><img src="/static/images/partners/13.png" alt="Partner 13"></div> -->
                    <div class="partner-card"><img src="/static/images/partners/14.png" alt="Partner 14"></div>
                </div>
                    <div class="partners-track bottom">

                    <div class="partner-card"><img src="/static/images/partners/16.png" alt="Partner 16"></div>
                    <div class="partner-card"><img src="/static/images/partners/17.png" alt="Partner 17"></div>
                    <div class="partner-card"><img src="/static/images/partners/18.png" alt="Partner 18"></div>
                    <div class="partner-card"><img src="/static/images/partners/19.png" alt="Partner 19"></div>
                    <div class="partner-card"><img src="/static/images/partners/20.png" alt="Partner 20"></div>
                    <div class="partner-card"><img src="/static/images/partners/21.png" alt="Partner 21"></div>
                    <div class="partner-card"><img src="/static/images/partners/22.png" alt="Partner 22"></div>
                    <div class="partner-card"><img src="/static/images/partners/23.png" alt="Partner 23"></div>
                    <div class="partner-card"><img src="/static/images/partners/24.png" alt="Partner 24"></div>
                    <div class="partner-card"><img src="/static/images/partners/25.png" alt="Partner 25"></div>

                </div>
            </div>
        </section>

      

        <section class="map-section">
            <h2 data-translate="hurry_to_join">Біздің студент болуға асығыңыз, бізді табу оңай!</h2>
            <p data-translate="find_your_specialty">Іздеген мамандыққа мүмкіндігіңізді алыңыз <strong>ALMATY POLYTECHNIC COLLEGE</strong></p>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13430.918379679084!2d76.8432397472676!3d43.246454808350855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883699af1c02faf%3A0xc474ee44a1baa11c!2sPolytechnic%20College!5e0!3m2!1skk!2skz!4v1744026887068!5m2!1skk!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>        </section>

        <div class="hero_img">
            <img src="/static/images/down-0.svg" alt="upImg">

        </div>
        <footer class="footer">
            <div class="footer-container">
              <!-- О сайте -->
              <div class="footer-section">
                <h3 data-translate="about_site">Сайт туралы</h3>
                <p id="copyright-year"></p>
                <script>
                  const currentYear = new Date().getFullYear();
                  document.getElementById("copyright-year").textContent = `©1940–${currentYear}`;
                </script>
                <p data-translate="college_name">
                  Алматы қаласы Білім басқармасының «ALMATY POLYTECHNIC COLLEGE» КМҚК
                </p>
          
                <h3 data-translate="social_networks">Әлеуметтік желілер</h3>
                <div class="social-icons">
                  <a href="https://www.instagram.com/polytechalmaty/#" target="_blank" aria-label="Instagram">
                    <img src="/static/images/flot/instagram.png" alt="Instagram" />
                  </a>
                  <a href="https://www.facebook.com/people/..." target="_blank" aria-label="Facebook">
                    <img src="/static/images/flot/facebook.png" alt="Facebook" />
                  </a>
                  <a href="https://www.youtube.com/@almatypolytechedukz" target="_blank" aria-label="YouTube">
                    <img src="/static/images/flot/youtube.png" alt="YouTube" />
                  </a>
                  <a href="https://www.tiktok.com/@polytech_college?_t=8ji5qQRP3v3&_r=1" target="_blank" aria-label="TikTok">
                    <img src="/static/images/flot/tiktok.png" alt="TikTok" />
                  </a>
                </div>
              </div>
          
              <!-- Контакты -->
              <div class="footer-section">
                <h3 data-translate="contact_label">Байланыс</h3>
                <p>
                  <span class="icon">📍</span>
                  <strong data-translate="address_label">Мекенжай:</strong><br />
                  <span data-translate="address">Қазақстан, Алматы қ., Тастақ-1 шағын ауданы, 1B</span>
                </p>
                <p>
                  <span class="icon">📞</span>
                  <strong data-translate="contact_label">Байланыс:</strong><br />
                  <span data-translate="phone">Тел.: 396 71 39</span><br />
                  <span data-translate="admission_phone">Қабылдау комиссиясы: 8 707 171 0800</span>
                </p>
                <p>
                  <span class="icon">✉️</span>
                  <strong data-translate="email_label">Пошта:</strong><br />
                  <a href="mailto:polytech@aspc.kz">polytech@aspc.kz</a>
                </p>
              </div>
          
              <!-- Разработчики -->
              <div class="footer-section">
                <h3 data-translate="developers">Разработчики сайта</h3>
                <p>
                  <span class="icon">👨‍💻</span>
                  <strong data-translate="developer_name">Жобаны жасаған:</strong><br />
                  <span data-translate="developer_info">Колледж студенттері мен оқытушылары</span>
                </p>
                
                <a href="https://www.instagram.com/polytech_it_hub?igsh=MXFvd3I1enNxeHpoOA==" class="dev-button" data-translate="contact_developer">Связаться с разработчиком</a>
              </div>
            </div>
          </footer>
          
        <!-- Подключение скриптов -->
        <script src="/static/translations.js"></script>
        <script src="/static/languageSwitcher.js"></script>
        <script src="/static/virtualTour.js"></script>
        <script src="/static/online_assistant.js"></script>
        <script src="/static/script.js"></script>
        <script src="/static/particles_config.js"></script>
        <script src="/static/major-body.js"></script>
        <script src="/static/partners-scroll.js"></script>
        <script src="/static/header/main.js"></script>
        <!-- <script src="/static/yearUpdater.js"></script> -->
        <script src="/static/modal-page/js/specialtyPopup.js"></script>






        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const dropdownItems = document.querySelectorAll(".dropdown-item");
            
                dropdownItems.forEach(item => {
                    const submenu = item.querySelector(".sub-dropdown-menu");
            
                    if (!submenu) return;
            
                    item.addEventListener("mouseenter", () => {
                        // Сброс предыдущих классов
                        submenu.classList.remove("sub-dropdown-menu-left", "sub-dropdown-menu");
            
                        // Временно показать для измерения
                        submenu.style.visibility = "hidden";
                        submenu.style.display = "block";
            
                        const rect = submenu.getBoundingClientRect();
                        const isOverflowing = rect.right > window.innerWidth;
            
                        submenu.style.display = "";
                        submenu.style.visibility = "";
            
                        if (isOverflowing) {
                            submenu.classList.add("sub-dropdown-menu-left");
                        } else {
                            submenu.classList.add("sub-dropdown-menu");
                        }
                    });
                });
            });
            </script>
            
</body>

</html>