/* Почему мы */
.why-us {
    text-align: center;
    padding: 50px 20px;
}

.why-us h2 {
    font-size: 32px;
    color: var(--bs-white);
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    background: var(--glass-white-10);
    border-radius: var(--border-radius-lg);
    padding: 20px;
    width: 250px;
    height: 220px;  /* Устанавливаем фиксированную высоту */
    text-align: center;
    box-shadow: 0 4px 10px var(--glass-white-20);
    transition: transform var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.card h3 {
    font-size: 20px;
    color: var(--bs-white);
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: var(--glass-white-70);
    flex-grow: 1;
}

.slider-dots {
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--glass-white-20);
    display: inline-block;
    border-radius: var(--border-radius-circle);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color var(--transition);
}

.dot.active {
    background-color: var(--bs-white);
}

.card:hover {
    transform: scale(1.1);
}